//
//  Secrets.xcconfig
//  inkwellpoetry
//
//  Created by Kristen Swanson on 8/3/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

TELEMETRY_DECK_APP_ID = 08BC1DF6-3311-4FCA-9D35-8E7420A845EC
